<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bem vindo!</title>
</head>
<body>
  <h1>Login</h1>

  <form action="/auth">
    <input type="text" name="email"><br>
    <input type="password" name="password"><br>
    <button type="submit">Logar</button><br>
    <small>Não tem uma conta? <a href="/register">clique aqui para se cadastrar</a></small>
  </form>
</body>
</html> 