<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bem vindo!</title>
</head>
<body>
  <h1>Registro</h1>

  <form action="/create" method="post" enctype="multipart/form-data">
    <input type="text" name="nome"><br>
    <input type="text" name="email"><br>
    <input type="password" name="password"><br>
    <input type="file" name="avatar"><br>
    <small>jpeg com até 5mb</small><br>
    <input type="date" name="data_nascimento"><br>
    <button type="submit">Registrar</button><br>
    <small>Já tem uma conta? <a href="/login">clique aqui para fazer login</a></small>
  </form>
</body>
</html> 